header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:1em;
}
header h1 {
    padding-top: .5em;
}
header h3 {
    padding-top: .1em
}
header a {
    padding-top: .3em;
    padding-bottom:.4em;
}
header button {
    width: 8em;
    padding: .3em .2em;
    background-color: #fff;
    color: #000;
    border: solid black 1px;
}
button:hover {
    background-color: #000;
    color: #fff;
}

#add_task {
    padding: 2em 1em;
    width: 30vw;
}
#add_task h4 {
    padding-bottom: 1em;
}
#add_task form {
    flex-direction: row;
}
#add_task form input {
    width:75%;
    height:2em;
    border: solid black 1px;
    padding-left: .5em;
}
#add_task form button {
    width:25%;
    height:2em;
    background-color: #fff;
    border: solid black 1px;
}
#add_task form button:hover {
    width:25%;
    height:2em;
    background-color: #000;
    color: #fff;
}