#login {
    height: 100vh;
    display: grid;
    place-items: center;
}
#login-form {
    width: 350px;
    height: 50vh;
    border: solid black 2px;
    padding: 3em 1.5em;
}
#login-form h1 {
    font-size: 3em;
    margin-bottom: 10%;
}
#login-form label {
    margin-bottom: 3%;
    font-size: 18px;
}
#login-form input {
    font-size: 1em;
    padding: .3em .2em;
    margin-bottom: 8%;
    border: solid black 1px;
}
#login-form button {
    width: 45%;
    margin: 0 auto;
    padding: .5em;
    background-color: #fff;
    border: solid black 1px;
}
#login-form a {
    text-align: center;
    margin-top: 15%;
}