main.wrapper {
    height: 100vh;
    width: 100%;
    display:grid;
    place-items: center;
}
form {
    width: 30%;
}
form h1 {
    font-size: 4em;
    font-weight: 600;
    margin-bottom: .5em;
}
form input {
    font-size: 1.25em;
    font-weight: 600;
    color: #000;
    margin-bottom: 1.2em;
}
form a {
    margin-top: 6em;
}
/* 

form a {
    margin-top: 1em;
    text-align: center;
    font-size: 18px;
} */ 