<h1><%= current_user.username %></h1>
<nav>
    <a href="/logout">Log Out</a>
    <a href="/projects/new">Start A Project</a>
    <form action="/users/<%= current_user.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete Account</button>
    </form>
</nav>

<h3>Your Projects:</h3>
<ul>
    <% current_user.projects.each do |project| %>
    <li>
        <a href="/projects/<%= project.id %>"><%= project.title %></a>
    </li>
    <% end %>
</ul>