<h1>new project!</h1>

<form action="/projects" method="post">
    <label for="title">Project Name:</label>
    <input type="text" name="title" id="title">

    <label for="description">Project description:</label>
    <input type="text" name="description" id="description">

    <input type="submit" value="submit">
</form>
