<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KanbanBoard</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
<body>

  <!-- If the page isn't login or sign up show layout & yield -->
<% if request.path != "/login" && request.path != "/signup" %>
  <%= erb :jumbotron %> 
  <%= yield %>
<!-- If the page is login or sign up yield only specific page -->
<% else %>
  <%= yield %>
<% end %>
</body>
</html>
