<link rel="stylesheet" href="stylesheets/login.css">
<main class="container-wrapper">
    <section class="card">
        <form action="/login" method="post">
            <h1>Hello!</h1>
            <input type="text" name="username" id="username"placeholder="username:">
            <input type="password" name="password" id="password" placeholder="password:">
            <button type="submit">login</button>
            <a href="/signup">Sign Up?</a>
        </form>
    </section>
</main>