<head>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<main id="login">
    <form id="login-form" action="/signup" method="post">
        <h1>Sign Up!</h1>
        
        <label for="username" >Username</label>      
        <input type="text" name="username" id="username" placeholder="username:"required>

        <label for="email" >Email</label>      
        <input type="text" name="email" id="email" placeholder="Email:"required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password:" required>

        <button type="submit" value="submit">Join</button>
        <a href="/login">already have an account?</a>
    </form>
</main>
